<html>
    <head>
        <meta charset="utf-8">
    
        <title>Segundo desafio feito para a disciplina DAW1</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="style.css">
    
        <!-- as três linhas abaixo são uma correção para que elementos semânticos HTML5 funcionem em versões antigas do Internet Explorer-->
        <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        <style>
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }
          
          li {
            display: inline;
          }
          </style>
      </head>
  <body>  
    <header>
        <h1>Segundo desafio feito para a disciplina DAW1</h1>
      </header>          
      <nav>
        <ul>
          <li>
              <a  href="/index" title="Indice">Indice</a>
          </li>
          <li>
              <a  href="/contato" title="Contato">Contato</a>
          </li>
          <li>
              <a  href="/sobre" title="Sobre" >Sobre</a>
          </li>
        </ul>
      </nav>
    <div>
    <form  action="/confirmacao" id="form1" method="POST"> 
    <!--<form  action="/action" id="form1" method="POST"> -->   
        <label for="fname">Nome:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">E-mail:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>
        <label for="lname">Mensagem:</label><br>
        <input type="text" id="lassunto" name="Assunto" value=""><br><br>  
        <input type="submit" onclick = " return validar()" value="Enviar">
      </form> 
      </div>
      <footer className='container-fluid text-center'>
        <p> Site criado para o desafio 2 </p>
      </footer>
 
       <script>
          function validar(){
              var nome = document.getElementsByName("fname")[0].value;
              var telefone = document.getElementsByName("lname")[0].value;
              var assunto = document.getElementsByName("Assunto")[0].value;
              if(nome=="" || telefone=="" || assunto==""){
                  alert("Vc tem que preencher todo o formulario");
                  return false;
              }else{
                  document.getElementById("form1").submit();
                  return true;
              }
          }
      </script>     
   </body>
</html>